<div class="login-wrapper">

    <div class="card">

        <div class="branding">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="angular-logo" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" class="ms-logo" />
        </div>

        <h2>Sign in to Continue</h2>

        <button class="login-btn" (click)="login()">
            <img src="https://img.icons8.com/color/48/microsoft.png" />
            Sign in with Microsoft
        </button>

    </div>

</div>